.task-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task-input {
  width: 80%;
  height: 40px;
  border: 0px;
  border-radius: 30px;
  padding-left: 20px;

}

.task-row {
  display: flex;
  width: 500px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 20px;
  justify-content: space-between;
}

.task-text {
  align-content: center;
  font-size: 25px;
  padding-left: 20px;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input{
  font-size: 20px;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 20px;
}

.add-icon{
  position: absolute;
  top: 52px;
  left: 930px;
}

.form-container{
  width: 500px;
  border: 1px solid;
  margin: 30px;
  border-radius: 30px;
}

.dd-container{
  align-content: center;
}

.dd-icon{
  display: inline-block;
  transform: rotate(180deg);
  padding-left: 5px;
}

.dd-items{
  position: absolute;
  z-index: 10;
  background-color: white;
}

.filter-container{
  display: flex;
  justify-content: center;
  margin: 50px
}